/* COLOR PALETTE */
:root {
    --background: #ffffff;
    --surface: #d8d8d8;
    --surface-light: #eeeeee;
    --surface-dark: #b4b4b4;
    --primary-color: #6200ee;
    --darker-primary-color: #3700b3;
    --secondary-color: #03dac6;
    --darker-secondary-color: #018786;
    --error: #b00020;
}

/* FONT SETTINGS */
* {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif;
    cursor: default;
    user-select: none;
}

body, html {
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 85%;
    background-color: var(--background);
}

/* LOGIN SECTION */

#login-group {
  width: 100%;
  color: #000;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  padding-top: 5vh;
}

#logo {
  font-weight: bold;
  font-size: larger;
}

#lblIncorrect {
  opacity: 0;
  position: fixed;
  color: rgba(0,0,0,0);
  transition: opacity 0.5s;
  font-weight: bold; 
}

#login-buttons {
  width: 100%;
  display: inline-flexbox;
  flex-direction: row;
  padding-top: 7.5vh;
  align-items: center;
  text-align: center;
}

/* HOME SECTION */

#home-left {
    position: fixed;
    width: 225px;
    height: calc(100vh);
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    z-index: 1;
    left: 0;
    top: 0px;
    bottom: 0px;
    background-color: var(--surface);
    overflow-y: scroll;
    overflow-x: hidden;
}

#home-left h3 {
  height: 5vh;
  line-height: 5vh;
}

#home-left h3:hover {
  background-color: var(--surface-light);
  cursor: pointer;
}

#home-main {
    position: fixed;
    top: 0px;
    bottom: 0px;
    left: 275px;
    right: 250px;
    padding: 15px;
    padding-top: 0px;
}

#home-right {
    position: fixed;
    width: 200px;
    height: calc(100vh);
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    z-index: 1;
    right: 0;
    top: 0px;
    bottom: 0px;
    background-color: var(--surface-light);
    overflow-y: scroll;
    overflow-x: hidden;
}

#home-right h3 {
  height: 5vh;
  line-height: 5vh;
}

#home-right h3:hover {
  background-color: var(--surface-dark);
  cursor: pointer;
}

.btnDark {
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;

    padding: 2.5%;
    border: 0px;
    border-radius: 5px;
    cursor: pointer;

    text-decoration: none;
    color: #fff;
    background-color: var(--primary-color);
}

.btnDark:hover {
    opacity: 0.75;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: rgba(0,0,0,0);
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }