/* COLOR PALETTE */
:root {
    --background: #4d4d4d;
    --surface: #333333;
    --surface-light: #424242;
    --surface-dark: #202020;
    --primary-color: #bb86fc;
    --darker-primary-color: #3700b3;
    --secondary-color: #03dac6;
    --error: #cf6679;
}

/* FONT SETTINGS */
* {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif;
    cursor: default;
    user-select: none;
}

/* BODY */
body, html {
  margin: 0px;
  padding: 0px;
  width: 100%;
  height: 100%;
  background-color: var(--background);
}

/* LOGIN SECTION */

#login-group {
  display: inline-flex;
  flex-direction: column;
  text-align: center;
  position: absolute;
  width: 75%;
  top: 33%;
  left: 50%;
  margin-right: -50%;
  gap: 2.5vh;
  transform: translate(-50%, -50%);
  padding-top: 15vh;
}

#login-group label {
  color: var(--primary-color);
  font-weight: bold;
}

#logo {
  font-weight: bolder;
  font-size: larger;
}

#lblIncorrect {
  font-size: xxx-large;
  opacity: 0;
  width: 100%;
  position: fixed;
  text-align: center;
  color: rgba(0,0,0,0);
  transition: opacity 0.35s;
  font-weight: bold; 
}

#login-buttons {
  display: inline-flex;
  flex-direction: row;
  text-align: center;
  position: absolute;
  width: 75%;
  top: 66%;
  left: 12.5%;
  padding-top: 5vh;
}

#login-buttons button {
  width: 100%;
  height: 100%;
  font-weight: bold;
}

input {
  width: 100%;
  cursor: text;
  border-color: black;
  border-radius: 5px 5px 5px 5px;
  outline-color: var(--primary-color);
}

/* HOME SECTION */

#home-left {
    position: fixed;
    width: 225px;
    height: calc(100vh);
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    z-index: 1;
    left: 0;
    top: 0px;
    bottom: 0px;
    background-color: var(--surface);
    overflow-y: scroll;
    overflow-x: hidden;
    color: #fff;
}

#home-left h3 {
  height: 5vh;
  line-height: 5vh;
}

#home-left h3:hover {
  background-color: var(--surface-light);
  cursor: pointer;
}

#home-main {
    position: fixed;
    top: 0px;
    bottom: 0px;
    left: 275px;
    right: 250px;
    padding: 15px;
    padding-top: 0px;
    color: #fff;
    background-color: var(--background);
}

#home-right {
    position: fixed;
    width: 200px;
    height: calc(100vh);
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    z-index: 1;
    right: 0;
    top: 0px;
    bottom: 0px;
    background-color: var(--surface-light);
    overflow-y: scroll;
    overflow-x: hidden;
    color: #fff;
}

#home-right h3 {
  height: 5vh;
  line-height: 5vh;
}

#home-right h3:hover {
  background-color: var(--surface-dark);
  cursor: pointer;
}

.btnDark {
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;

    padding: 2.5%;
    border: 0px;
    border-radius: 5px;
    cursor: pointer;

    text-decoration: none;
    color: #000;
    background-color: var(--primary-color);
}

.btnDark:hover {
  opacity: 0.8;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: rgba(0,0,0,0);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--surface-dark);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #fff;
}